.order {
  padding: 40px;
  margin: 20px 0;
  background-color: white;
  position: relative;
  &__id {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  &__created {
    padding: 10px 0;
  }
  &__total {
    font-weight: 500;
    text-align: right;
  }
}
