.payment {
  background-color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  &__container {
    h1 {
      text-align: center;
      padding: 10px;
      font-weight: 400;
      background-color: rgb(234, 237, 237);
      border-bottom: 1px solid lightgray;
      a {
        text-decoration: none;
      }
    }
  }
  &__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgrey;
  }
  &__title {
    flex: 0.2;
  }
  &__address,
  &__items,
  &__details {
    flex: 0.8;
    form {
      max-width: 400px;
    }
  }
  &__cardElement {
    padding-bottom: 10px;
  }
  &__priceContainer {
    h3 {
      padding-bottom: 10px;
    }
    button {
      padding: 2px 5px 2px 5px;
      width: 100%;
      background: #f0c14b;
      border-radius: 2px;
      width: 100%;
      font-weight: 600;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
    }
  }
}
